<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmazedSaint.ElasticObject" version="1.2.0" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net46" developmentDependency="true" />
  <package id="Fody" version="2.2.1.0" targetFramework="net46" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.17.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.5" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.5" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common" version="15.112.1" targetFramework="net46" />
  <package id="Microsoft.TeamFoundation.VersionControl.All" version="12.0.30723.2" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.112.1" targetFramework="net46" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="15.112.1" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.4.27004" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Sdk.BuildTasks.14.0" version="14.5.100" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.14" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.112.1" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="15.112.1" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.4.27004" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25414" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25414" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25414" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25404" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26606" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading" version="15.5.24" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.4.27004" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.5" targetFramework="net461" />
  <package id="TeamFoundationTestFull" version="1.0.4" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="4.1.6" targetFramework="net461" />
</packages>